/*-------------------------- *\
  #FORM 
\*---------------------------*/
.form {
  inline-size: 100%;
  max-inline-size: 30rem;
  padding-block: var(--spacing-md);
}
.form-group {
  inline-size: 100%;
}
.input-group {
  position: relative; /* for btn-submit */

  inline-size: 100%;
  max-inline-size: 30rem;
}
.input {
  inline-size: 100%;
  min-inline-size: 0;

  padding: var(--spacing-md); /* same button paading */
  font-size: var(--fs-md);

  border: 1px solid var(--pink-400);
  outline: none;
  border-radius: var(--border-radius-lg);
}
.input::placeholder {
  color: var(--pink-400);
}
/* for icon-error and btn-submit */
.icons-wrapper {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  pointer-events: none;
}
.error-icon {
  opacity: 0;
  pointer-events: none;
}
.btn-submit {
  /* alignment for icon btn */
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(4rem, 5vw, 6rem);
  padding: var(--spacing-md);

  border: none;
  border-radius: var(--border-radius-lg);
  background-image: var(--btn-submit-gradient);
  box-shadow: var(--shadow-subtle);
  cursor: pointer;
  pointer-events: all;
  transition: 0.2s ease;
}
.btn-submit:hover {
  transform: scale(1.1);
  background-image: var(--hover-btn-submit-gradient);
}
.error-message {
  opacity: 0;
  padding: 0 0.75rem;

  margin-block-start: 0.5rem;
  inline-size: 100%;
  max-inline-size: 30rem;

  font-size: var(--fs-md);
  text-align: left;
  color: var(--red-500);
}

.form.error-state {
  border-color: var(--red-500);
}
.form.error-state .error-icon {
  opacity: 1;
}
.form.error-state .error-message {
  opacity: 1;
}
