.page-container {
  max-inline-size: 1440px;
  margin-inline: auto;
}
.container {
  padding: var(--spacing-md);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);

  text-align: center;
}

.container-img {
  inline-size: 100%;
}

@media (min-width: 64rem) {
  body {
    background-image: url(../assets/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    min-height: 100vh;
  }
  .container-hero {
    position: relative; /* for container-img */
  }
  .container-img {
    inline-size: 50%;

    position: absolute;
    inset-block-start: -7rem; /* to compensate container padding top  */
    inset-inline-end: 0;
    z-index: 10;
  }
  .container {
    inline-size: 50%;
    padding-block-start: var(--spacing-md);
  }
  .col {
    align-items: flex-start;
    text-align: left;
  }
}
