*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --pink-400: hsl(0, 36%, 70%);
  --red-500: hsl(0, 93%, 68%);
  --gray-900: hsl(0, 6%, 24%);

  /* Gradients */

  --body-gradient: linear-gradient(
    25deg,
    hsl(0, 83%, 99%) 25%,
    hsl(0, 80%, 100%) 35%,
    hsl(0, 0%, 98%) 100%
  );

  --btn-submit-gradient: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  --hover-btn-submit-gradient: linear-gradient(
    130deg,
    hsl(0, 80%, 90%),
    hsl(0, 74%, 85%)
  );

  /* Fonts */
  --ff-body: "Josefin Sans", sans-serif;

  --fs-sm: clamp(0.875rem, 0.825rem + 0.25vw, 1rem);
  --fs-md: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
  --fs-lg: clamp(1.5rem, 1.3rem + 1vw, 2.25rem);
  --fs-xl: clamp(2rem, 1.6rem + 2vw, 3.5rem);
  --fs-2xl: clamp(2.5rem, 1.8rem + 3.5vw, 5rem);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;

  --line-height: 1.5;
  --max-inline-size-title: 10ch;
  --max-inline-size-text: 43ch;

  /* Spacings */
  --spacing-sm: clamp(0.5rem, 1vw, 0.75rem);
  --spacing-md: clamp(1rem, 2vw, 1.5rem);
  --spacing-lg: clamp(2rem, 3vw, 2.5rem);
  --spacing-xl: clamp(2.5rem, 5vw, 6rem);

  /* Border radius */
  --border-radius-lg: 50px;

  /* Box shadow */
  --shadow-subtle: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
}

/* Utilities */
.sr-only {
  /* Visually hides element but keeps it accesible for screen readers */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
body {
  font-family: var(--ff-body);
  background-image: var(--body-gradient);
}

/* Typography */
.title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  line-height: var(--line-height);
  color: var(--gray-900);
  max-inline-size: var(--max-inline-size-title);
}
.title-light {
  font-weight: var(--fw-light);
  color: var(--pink-400);
}
.description {
  font-size: var(--fs-md);
  line-height: var(--line-height);
  color: var(--pink-400);
  max-inline-size: var(--max-inline-size-text);
}

/* Images */
.logo {
  inline-size: clamp(7rem, 15vw, 12rem);
}
.hero-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
